<?xml version="1.0" encoding="UTF-8"?>
<!-- In-Game Account Switcher is a third-party mod for Minecraft Java Edition that -->
<!-- allows you to change your logged in account in-game, without restarting it. -->

<!-- Copyright (C) 2015-2022 The_Fireplace -->
<!-- Copyright (C) 2021-2026 VidTu -->

<!-- This program is free software: you can redistribute it and/or modify -->
<!-- it under the terms of the GNU Lesser General Public License as published by -->
<!-- the Free Software Foundation, either version 3 of the License, or -->
<!-- (at your option) any later version. -->

<!-- This program is distributed in the hope that it will be useful, -->
<!-- but WITHOUT ANY WARRANTY; without even the implied warranty of -->
<!-- MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the -->
<!-- GNU Lesser General Public License for more details. -->

<!-- You should have received a copy of the GNU Lesser General Public License -->
<!-- along with this program.  If not, see <https://www.gnu.org/licenses/> -->
<Configuration status="INFO">
  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%style{[%d{HH:mm:ss}]}{blue} %highlight{[%t/%level]}{FATAL=bright_red, ERROR=red, WARN=yellow, INFO=green, DEBUG=bright_white, TRACE=white}: %style{(%logger{0})}{cyan} %style{&lt;%marker&gt;}{magenta} %msg{nolookups}%n%xEx{full}" disableAnsi="false"/>
    </Console>
    <RollingRandomAccessFile name="File" fileName="logs/latest.log" filePattern="logs/%d{yyyy-MM-dd}-%i.log.gz" immediateFlush="false">
      <PatternLayout pattern="[%d{HH:mm:ss}] [%t/%level]: (%logger{0}) &lt;%marker&gt; %msg{nolookups}%n%xEx{full}"/>
      <Policies>
        <TimeBasedTriggeringPolicy/>
        <OnStartupTriggeringPolicy/>
      </Policies>
      <DefaultRolloverStrategy compressionLevel="9" max="100"/>
    </RollingRandomAccessFile>
    <Async name="Async">
      <AppenderRef ref="Console"/>
      <AppenderRef ref="File" level="INFO"/>
    </Async>
  </Appenders>
  <Loggers>
    <Root level="TRACE">
      <Filters>
        <MarkerFilter marker="NETWORK_PACKETS" onMatch="DENY" onMismatch="NEUTRAL"/>
        <MarkerFilter marker="SOUNDS" onMatch="DENY" onMismatch="NEUTRAL"/>
        <MarkerFilter marker="SCAN" onMatch="DENY" onMismatch="NEUTRAL"/>
        <MarkerFilter marker="REGISTRIES" onMatch="DENY" onMismatch="NEUTRAL"/>
        <MarkerFilter marker="REGISTRYDUMP" onMatch="DENY" onMismatch="NEUTRAL"/>
        <MarkerFilter marker="REGISTRY_DUMP" onMatch="DENY" onMismatch="NEUTRAL"/>
        <MarkerFilter marker="MODLAUNCHER" onMatch="DENY" onMismatch="NEUTRAL"/>
        <MarkerFilter marker="CORE" onMatch="DENY" onMismatch="NEUTRAL"/>
        <MarkerFilter marker="DISTXFORM" onMatch="DENY" onMismatch="NEUTRAL"/>
        <MarkerFilter marker="AXFORM" onMatch="DENY" onMismatch="NEUTRAL"/>
        <MarkerFilter marker="LOADING" onMatch="DENY" onMismatch="NEUTRAL"/>
        <MarkerFilter marker="EVENTBUS" onMatch="DENY" onMismatch="NEUTRAL"/>
        <RegexFilter regex="^Adding .* to classpath.$" useRawMsg="true" onMatch="DENY" onMismatch="NEUTRAL"/>
        <RegexFilter regex="^Added class metadata for .* to metadata cache$" useRawMsg="true" onMatch="DENY" onMismatch="NEUTRAL"/>
      </Filters>
      <AppenderRef ref="Async"/>
    </Root>
  </Loggers>
</Configuration>
