name: 'Build'
on: [ pull_request, push, workflow_dispatch ]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: 'Checkout'
        uses: actions/checkout@v4
      - name: 'Validate Gradle wrapper'
        uses: gradle/actions/wrapper-validation@v3
      - name: 'Setup JDK'
        uses: actions/setup-java@v4
        with:
          java-version: 21
          distribution: 'temurin'
      - name: 'Make wrapper executable'
        run: 'chmod +x ./gradlew'
      - name: 'Setup Gradle'
        uses: gradle/actions/setup-gradle@v3
      - name: 'Build'
        run: './gradlew -Dorg.gradle.daemon=false build --no-daemon'
      - name: 'Upload artifacts'
        uses: actions/upload-artifact@v4
        with:
          name: 'Artifacts'
          path: |
            1.18.2-fabric/build/libs/
            1.18.2-quilt/build/libs/
            1.18.2-forge/build/libs/
            1.19.2-fabric/build/libs/
            1.19.2-quilt/build/libs/
            1.19.2-forge/build/libs/
            1.19.4-fabric/build/libs/
            1.19.4-quilt/build/libs/
            1.19.4-forge/build/libs/
            1.20.1-fabric/build/libs/
            1.20.1-quilt/build/libs/
            1.20.1-forge/build/libs/
            1.20.1-neoforge/build/libs/
            1.20.2-fabric/build/libs/
            1.20.2-quilt/build/libs/
            1.20.2-forge/build/libs/
            1.20.2-neoforge/build/libs/
            1.20.4-fabric/build/libs/
            1.20.4-quilt/build/libs/
            1.20.4-forge/build/libs/
            1.20.4-neoforge/build/libs/
            1.20.6-fabric/build/libs/
            1.20.6-quilt/build/libs/
            1.20.6-forge/build/libs/
            1.20.6-neoforge/build/libs/
