# In-Game Account Switcher is a mod for Minecraft that allows you to change your logged in account in-game, without restarting Minecraft.
# Copyright (C) 2015-2022 The_Fireplace
# Copyright (C) 2021-2025 VidTu
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Lesser General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Lesser General Public License for more details.
#
# You should have received a copy of the GNU Lesser General Public License
# along with this program.  If not, see <https://www.gnu.org/licenses/>

name: 'Build'
on: [ pull_request, push, workflow_dispatch ]
jobs:
  build:
    name: 'Build'
    runs-on: ubuntu-24.04
    timeout-minutes: 60
    steps:
      - name: 'Checkout'
        timeout-minutes: 1
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false
      - name: 'Setup JDK'
        timeout-minutes: 1
        uses: actions/setup-java@dded0888837ed1f317902acf8a20df0ad188d165 # v5.0.0
        with:
          java-version: 21
          distribution: 'temurin'
      - name: 'Setup Gradle'
        timeout-minutes: 10
        uses: gradle/actions/setup-gradle@4d9f0ba0025fe599b4ebab900eb7f3a1d93ef4c2 # v5.0.0
        with:
          cache-encryption-key: ${{ secrets.GRADLE_ENCRYPTION_KEY }}
      - name: 'Build'
        timeout-minutes: 60
        run: './gradlew assemble'
      - name: 'Upload'
        timeout-minutes: 5
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: 'Artifacts'
          path: |
            legacy/1.18.2/fabric/build/libs/
            legacy/1.18.2/forge/build/libs/
            legacy/1.19.2/fabric/build/libs/
            legacy/1.19.2/forge/build/libs/
            legacy/1.19.4/fabric/build/libs/
            legacy/1.19.4/forge/build/libs/
            legacy/1.20.1/fabric/build/libs/
            legacy/1.20.1/forge/build/libs/
            legacy/1.20.1/neoforge/build/libs/
            legacy/1.20.2/fabric/build/libs/
            legacy/1.20.2/forge/build/libs/
            legacy/1.20.2/neoforge/build/libs/
            legacy/1.20.4/fabric/build/libs/
            legacy/1.20.4/forge/build/libs/
            legacy/1.20.4/neoforge/build/libs/
            legacy/1.20.6/fabric/build/libs/
            legacy/1.20.6/forge/build/libs/
            legacy/1.20.6/neoforge/build/libs/
            legacy/1.21.1/fabric/build/libs/
            legacy/1.21.1/forge/build/libs/
            legacy/1.21.1/neoforge/build/libs/
            legacy/1.21.3/fabric/build/libs/
            legacy/1.21.3/forge/build/libs/
            legacy/1.21.3/neoforge/build/libs/
            legacy/1.21.4/fabric/build/libs/
            legacy/1.21.4/forge/build/libs/
            legacy/1.21.4/neoforge/build/libs/
            legacy/1.21.5/fabric/build/libs/
            legacy/1.21.5/forge/build/libs/
            legacy/1.21.5/neoforge/build/libs/
            legacy/1.21.8/fabric/build/libs/
            legacy/1.21.8/forge/build/libs/
            legacy/1.21.8/neoforge/build/libs/
            legacy/1.21.10/fabric/build/libs/
            legacy/1.21.10/forge/build/libs/
            legacy/1.21.10/neoforge/build/libs/
