# In-Game Account Switcher is a third-party mod for Minecraft Java Edition that
# allows you to change your logged in account in-game, without restarting it.
#
# Copyright (C) 2015-2022 The_Fireplace
# Copyright (C) 2021-2026 VidTu
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Lesser General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Lesser General Public License for more details.
#
# You should have received a copy of the GNU Lesser General Public License
# along with this program.  If not, see <https://www.gnu.org/licenses/>

name: 'Build (Main)'
permissions: { }
on:
  push:
    branches: [ 'main' ]
  workflow_dispatch:
jobs:
  main:
    name: 'Build (Main)'
    runs-on: 'ubuntu-24.04'
    timeout-minutes: 60
    permissions:
      contents: 'write'
    steps:
      - name: 'Checkout'
        timeout-minutes: 1
        uses: 'actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd' # v6.0.2
        with:
          persist-credentials: false
      - name: 'Setup JDK'
        timeout-minutes: 1
        uses: 'actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654' # v5.2.0
        with:
          java-version: 25
          distribution: 'temurin'
      - name: 'Setup Gradle'
        timeout-minutes: 10
        uses: 'gradle/actions/setup-gradle@4d9f0ba0025fe599b4ebab900eb7f3a1d93ef4c2' # v5.0.0
        with:
          # Generate with either:
          # 1. Linux/macOS/Unix (OpenSSL): openssl rand -base64 32
          # 2. Linux/macOS/Unix: cat /dev/random | head -c32 | base64
          # 3. Windows (PowerShell): $bytes=New-Object byte[] 32;[Security.Cryptography.RandomNumberGenerator]::Create().GetBytes($bytes);[Convert]::ToBase64String($bytes)
          cache-encryption-key: ${{ secrets.GRADLE_ENCRYPTION_KEY }}
          dependency-graph: 'generate-and-submit'
      - name: 'Build (Main)'
        timeout-minutes: 60
        run: './gradlew assemble'
      - name: 'Upload'
        timeout-minutes: 10
        uses: 'actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f' # v6.0.0
        with:
          name: 'Artifacts'
          path: |
            build/libs/
            legacy/1.18.2/fabric/build/libs/
            legacy/1.18.2/forge/build/libs/
            legacy/1.19.2/fabric/build/libs/
            legacy/1.19.2/forge/build/libs/
            legacy/1.19.4/fabric/build/libs/
            legacy/1.19.4/forge/build/libs/
            legacy/1.20.1/fabric/build/libs/
            legacy/1.20.1/forge/build/libs/
            legacy/1.20.1/neoforge/build/libs/
            legacy/1.20.2/fabric/build/libs/
            legacy/1.20.2/forge/build/libs/
            legacy/1.20.2/neoforge/build/libs/
            legacy/1.20.4/fabric/build/libs/
            legacy/1.20.4/forge/build/libs/
            legacy/1.20.4/neoforge/build/libs/
            legacy/1.20.6/fabric/build/libs/
            legacy/1.20.6/forge/build/libs/
            legacy/1.20.6/neoforge/build/libs/
            legacy/1.21.1/fabric/build/libs/
            legacy/1.21.1/forge/build/libs/
            legacy/1.21.1/neoforge/build/libs/
            legacy/1.21.3/fabric/build/libs/
            legacy/1.21.3/forge/build/libs/
            legacy/1.21.3/neoforge/build/libs/
            legacy/1.21.4/fabric/build/libs/
            legacy/1.21.4/forge/build/libs/
            legacy/1.21.4/neoforge/build/libs/
            legacy/1.21.5/fabric/build/libs/
            legacy/1.21.5/forge/build/libs/
            legacy/1.21.5/neoforge/build/libs/
